build/
build-*/

CMakeFiles/
**/CMakeFiles/

log/

__pycache__/
*/__pycache__/
**/__pycache__/

.vscode/

CMakeCache.txt
*/CMakeCache.txt
**/CMakeCache.txt

*.cmake
*/*.cmake
**/*.cmake

Makefile
*/Makefile
**/Makefile

*.bin
*.dll
*.o
*.so
*.bak
